* {
    margin: 0;
    padding: 0;
}


/*header*/
div.topnav {
    width: 100%;
    height: 95PX;
    background-color: blueviolet;
}

div.topnav a {
    float: right;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20pt;
    color: tan;
    padding-right: 3%;
    margin-top: -30px;
    display:inline
}

div.topnav a:hover {
    color: turquoise;
}

h1 {
    color:tan;
    font-size: 40pt;
    padding-left: 1%;
    padding-top: 1%;
    font-family:fantasy
}


/*left div*/
div.left {
    height: 240px;
    background-color: teal;
    width: 7%
}

p {
    font-size: 20pt;
    padding: 14%;
}

/*picture div*/
div.right {
    float: right;
    background-color: brown;
    height: 240px;
    width: 93%;
    margin-top: -240px;
}

img {
    height: 240px;
    width: 100%;
}

div.footer {
    background-color: rgb(167, 167, 4);
}
